table {
  table-layout: fixed;
  width: 500px;
  height: 500px;
  border-collapse: collapse;
}

table, td {
  border: 3px solid;
}

table, td {
  text-align: center;
  height: 50px;
  width: 50px;
}

.hovered {
  background-color: antiquewhite;
}

.placed {
  background-color: crimson;
}
/*
td:hover {
  background-color: antiquewhite;
}
*/